<!-- SHAPE -->
    <div class="position-relative">
      <div class="shape shape-bottom shape-fluid-x text-dark">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>      </div>
    </div>

    <!-- FOOTER -->
    <footer class="py-8 py-md-11 bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-4 col-lg-3">
    
            <!-- Brand -->
            <img src="/img/gallerie5.png" alt="logo" class="footer-brand img-fluid mb-2">
    
            <!-- Text -->
            <p class="text-gray-700 mb-2">
             Artiste Peintre
            </p>
            </div>
            
          <div class="col-12 col-md-4 col-lg-2">
    
            <!-- Heading -->
            <h6 class="fw-bold text-uppercase text-gray-700">
              Menu
            </h6>
    
            <!-- List -->
            <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
              <li class="mb-3">
                <a href="/realisations" class="text-reset">
                 Realisation
                </a>
              </li>
              <li class="mb-3">
                <a href="/actualites" class="text-reset">
                 Actualité
                </a>
              </li>
              <li class="mb-3">
                <a href="/portfolio" class="text-reset">
                 Portfolio
                </a>
              </li>
              <li class="mb-3">
                <a href="/a-propos" class="text-reset">
                  A Propos
                </a>
              </li>
              <li>
                <a href="#!" class="text-reset">
                  Me Contacter
                </a>
              </li>
            </ul>
    
          </div>
          <div class="col-12 col-md-4 col-lg-4">
    
            <!-- Heading -->
            <h6 class="fw-bold text-uppercase text-gray-700">
             Informations
            </h6>
    
            <!-- Text -->
            <p class="text-gray-700 mb-2">
              Artise Peintre
            </p>

            <p class="text-gray-700 mb-2">
              Gallery 5  
            </p>
        </div>

    <div class="col-12 col-md-4 col-lg-2">
    
            <!-- Heading -->
            <h6 class="fw-bold text-uppercase text-gray-700">
              Mentions Legales
            </h6>
    <!-- List -->
            <ul class="list-unstyled text-muted mb-0">
              <li class="mb-3">
                <a href="#!" class="text-reset">
                  RGPD
                </a>
              </li>
             </ul>
       </div>       

        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </footer>