<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom ">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand" href="{{path('home')}}">
      <img src="/img/gallerie5.png" class="navbar-brand-img" alt="...">
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fe fe-x"></i>
      </button>

       <!-- Navigation -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link" href="{{path('realisations')}}">
            Réalisation
          </a>
        </li>
          <li class="nav-item dropdown">
          <a class="nav-link"  href="{{path('actualites')}}" >
            Actualités
          </a>
          </li>
          
			
		      <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarAccount" data-bs-toggle="dropdown" href="/portfolio" aria-haspopup="true" aria-expanded="false">
              Portfolio
              </a>


              <ul class="dropdown-menu" aria-labelledby="navbarAccount">

                <li class="dropdown-item dropend">
                  <a  href="/portfolio/slug1">
                    Paysage nature
                  </a>
		            </li>
	
                <li class="dropdown-item dropend">
                  <a  href="/portfolio/slug2">
                    Personnage
                  </a>
                </li>

                <li class="dropdown-item dropend">
                  <a  href="/portfolio/slug3">
                    Paysage urbain
                  </a>
                </li>

                <li class="dropdown-item dropend">
                  <a  href="/portfolio/slug4">
                    Marine
                  </a>
                </li>







		</ul>
    </li>
    <li class="nav-item">
      <a href="/a-propos" class="nav-link">A propos</a>
    </li>
</ul>
<!-- Button -->
      <a class="navbar-btn btn btn-sm btn-primary lift ms-auto" href="#" target="_blank">
        Me contacter
      </a>

              
           

    </div>

  </div>
</nav>
