{% extends 'base.html.twig' %}

{% block title %}Mon Portfolio!{% endblock %}

{% block body %}



    <!-- WELCOME -->
    
   {% set img = categorie.peintures|last %}
  
    <section class="pt-12 pt-md-14 pb-12 pb-md-15 bg-gray-900" style="margin-top: -87px;">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-7 text-center">
            <!-- Headin -->
            <h1 class="display-2 fw-bold text-white">
              {{categorie.nom}}
            </h1>
            <h4 class="display-6 fw-bold text-white" > {{categorie.descirption}} </h4 >
            

           
          </div>
        </div>
        <!-- / .row -->
      </div>
      <!-- / .container -->
    </section>

    <!-- SHAPE -->
    <div class="position-relative">
      <div class="shape shape-bottom shape-fluid-x text-light">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>      </div>
    </div>

    
          
           
            <!-- CONTENT -->
    <section class="py-8 py-md-11 mt-n10 mt-md-n14">
      <div class="container">
        <div class="row" id="portfolio" data-isotope='{"layoutMode": "masonry"}'>
        {% for peinture in peintures %}

          <div class="col-12 col-md-4 ">
              
            <!-- Card -->
            <a class="card shadow-light-lg mb-7" href="#!"  data-bigpicture='{"imgSrc": "{{vich_uploader_asset(peinture, 'imageFile')}}"}'>

              <!-- Image -->
              <div class="card-zoom">
               
                <img  src="{{vich_uploader_asset(peinture, 'imageFile')}}" class="card-img" alt="...">
              </div>

              

            </a>

          </div> 

            
          
         
          {% endfor %}
        </div>
      </div>
    </section>

 
{% endblock %}
