{% extends 'base.html.twig' %}

{% block title %}Réalisations{% endblock %}

{% block body %}

 <!-- ARTICLES -->
    <section class="pt-7 pt-md-10">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <!-- Heading -->
            <h3 class="mb-0">
              Dernieres réalisations
            </h3>

            <!-- Text -->
            <p class="mb-5 text-muted">
              Mes toutes dernières réalisations
            </p>

          </div>
        </div> <!-- / .row -->
        <div class="row">
        {% for peinture in peintures %}
          <div class="col-12 col-md-6 d-flex">

            <!-- Card -->
            <div class="card mb-6 shadow-light-lg lift lift-lg">

              <!-- Image -->
              <a class="card-img-top" href="{{path('realisations_details', {'slug': peinture.slug}) }}">

                <!-- Image -->
                <img src="{{vich_uploader_asset(peinture, 'imageFile')}}" alt="..." class="card-img-top">

                <!-- Shape -->
                <div class="position-relative">
                  <div class="shape shape-bottom shape-fluid-x text-white">
                
                  </div>
                </div>

              </a>

              <!-- Body -->
              <a class="card-body" href="{{path('realisations_details', {'slug': peinture.slug}) }}">

                <!-- Heading -->
                <h3>
                  {{peinture.nom}}
                </h3>

                <!-- Text -->
                <p class="mb-0 text-muted">
                  {{peinture.description}}
                </p>

              </a>

              <!-- Meta -->
              <a class="card-meta mt-auto" href="{{path('realisations_details', {'slug': peinture.slug}) }}">

                <!-- Divider -->
                <hr class="card-meta-divider">

                

               

                <!-- Date -->
                <p class="h6 text-uppercase text-muted mb-0 ms-auto">
                  <time datetime="2019-05-02">Ajouté Le {{peinture.createdAt|date('d/m/y')}}</time>
                </p>

              </a>

            </div>

          </div>
          {% endfor %} 
          </div> <!-- / .row -->
          <div class="d-flex justify-content-center"
            {% do peintures.setPageRange(2) %}
            {{knp_pagination_render(peintures, 'base/pagination.html.twig')}}
            </div>
      </div> <!-- / .container -->
    </section>
        
         
        
{% endblock %}
